
/********************************/
/*                              */
/*            GENERAL           */
/*             START            */
/*                              */
/********************************/

/*
body.path-admin .region-content #block-seven-content{
  display: inline-block;
  width: 600px;
}
body.path-admin .region-content #block-calculate-your-route{
  display: inline-block;
  width: calc(100% - 650px)!important;
  margin-left: 40px;
  min-width: 600px;
}
*/

/********************************/
/*                              */
/*            GENERAL           */
/*              END             */
/*                              */
/********************************/

