
/********************************/
/*                              */
/*            GENERAL           */
/*             START            */
/*                              */
/********************************/


.is-valid{
  color:#28a745;
}
.no-valid{
  color:#dc3545;
}

/********************************/
/*                              */
/*            GENERAL           */
/*              END             */
/*                              */
/********************************/



/********************************/
/*                              */
/*       API KEY SETTINGS       */
/*             START            */
/*                              */
/********************************/


.is-valid .gm-api-key{
  border:2px solid #28a745;
}

.no-valid .gm-api-key{
  border:2px solid #dc3545;
}

.is-valid span#gmapk-success{
  position: relative;
  left:-20px;  
  z-index:3500;
}
.no-valid span#gmapk-error{
  position: relative;
  left:-20px;  
  z-index:3500;
}

.is-valid .description{
  display:none;
}

/********************************/
/*                              */
/*       API KEY SETTINGS       */
/*             END              */
/*                              */
/********************************/
/* 
.is-valid #success i{
  color:#28a745;
  
} */