
/********************************/
/*                              */
/*            GENERAL           */
/*             START            */
/*                              */
/********************************/

/*
body.path-admin .region-content #block-seven-content{
  display: inline-block;
  width: 600px;
}
body.path-admin .region-content #block-calculate-your-route{
  display: inline-block;
  width: calc(100% - 650px)!important;
  margin-left: 40px;
  min-width: 600px;
}
*/

/********************************/
/*                              */
/*            GENERAL           */
/*              END             */
/*                              */
/********************************/

#block-seven-content{
	width:650px;
	margin-right:50px;
}
#block-seven-content,
#block-calculate-your-route{
	display: inline-block;
	vertical-align: top;
}

.enable-element .fa-check{
	color:green;
  margin-right:12px;
}
.enable-element .fa-close{
	color:red;
  margin-right:15.7188px;/*add 12 + 3.7188*/
}

.enable-element em{
  text-transform: capitalize;
}


/********************************/
/*                              */
/*          FIELD GROUP         */
/*             START            */
/*                              */
/********************************/

/* fieldset.fieldgroup{
}
fieldset.fieldgroup legend span.fieldset-legend{
} */

fieldset.fieldgroup .fieldset-wrapper > *{
	display: inline-block;
}
fieldset.fieldgroup .fieldset-wrapper > * > *{
	height: 31px;
}
fieldset.fieldgroup .fieldset-wrapper > *:first-child{
	margin-right:-5px;
}
fieldset.fieldgroup .fieldset-wrapper > *:first-child > input.form-text{
	text-align: right;
}
fieldset.fieldgroup .fieldset-wrapper > *:last-child > select.form-select{
	background-color: #6c757d;
	color: white;
	box-shadow: none;
	border: 1px solid rgb(184, 184, 184);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

/********************************/
/*                              */
/*          FIELD GROUP         */
/*              END             */
/*                              */
/********************************/
