

/********************************/
/*                              */
/*            GENERAL           */
/*             START            */
/*                              */
/********************************/
/*
#settings-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
  justify-content:space-around;
}

#settings-form fieldset{
  flex-flow: row wrap;
} */

/********************************/
/*                              */
/*            GENERAL           */
/*              END             */
/*                              */
/********************************/

