/* content: attr(data-content); */
.api-key-false,
.hidden{
  display: none!important;
}

#container_map #map-cr {
  width: 100%;
  height:100%;
  margin: auto;
}

#container_map #container_form #choice_mode span{
  background: #EBEBEB;
  padding: 10px;
}

#container_map #container_form #choice_mode span.active{
  background: #3a3a3a;
}

/* INFOS PRATIQUES */
#container_map{
  position: relative;
}
#container_map #container_form{
  position: absolute;
  left:0px;
  bottom:0px;
  padding:60px 30px 20px ;
  width:280px;
  z-index: 4;
  background: #f7f7f7;
  border:1px solid #e7e7e7;
  color:black;
  text-align: center;
  box-sizing:border-box;
}
#container_map #container_form #choice_mode{
  position: absolute;
  top:0;
  left:0;
  height:60px;
  text-align:center;
  width:100%;
  background:#ccc;
}
#container_map #container_form #choice_mode span{
  display: inline-block;
  float: none;
  padding: 0;
  line-height: 60px;
  height:60px;
  cursor:pointer;
}
#container_map #container_form label{
  text-align: left;
  width:90%;
  display: inline-block;
}
#container_map #container_form input,
#container_map #container_form select{
  width:90%;
  height: 40px;
  border:none;
  line-height:40px;
  padding: 0 5px;
}
#container_map #container_form #label_btn {
  width: 90%;
  display: inline-block;
  background: #e30613;
  color: #fff;
  text-transform: uppercase;
  height:40px;
  line-height: 40px;
  font-weight:700;
  margin-top:25px;
  cursor:pointer;
}
#container_map #container_form #sl_start {
  margin: 25px 0 15px;
}
#container_map #container_form #choice_mode span.active,
#container_map #container_form #choice_mode span{
  background:none;
}

#container_map #container_form #choice_mode span{
  display: inline-block;
  background:url('../images/sprite_mode.png') 10px top no-repeat;
  line-height:60px;
  height: 60px;
  width: 60px;
  cursor:pointer;
}
#container_map #container_form #choice_mode span#car-logo{
  background:url('../images/sprite_mode.png') 10px top no-repeat;
}
#container_map #container_form #choice_mode span#public_transport-logo{
  background:url('../images/sprite_mode.png') -49px top no-repeat;
}
#container_map #container_form #choice_mode span#bike-logo{
  background:url('../images/sprite_mode.png') -108px top no-repeat;
}
#container_map #container_form #choice_mode span#walker-logo{
  background:url('../images/sprite_mode.png') -166px top no-repeat;
}
#container_map #container_form #choice_mode span#car-logo:hover,
#container_map #container_form #choice_mode span#car-logo.active{
  background:url('../images/sprite_mode.png') 10px bottom no-repeat;
}
#container_map #container_form #choice_mode span#public_transport-logo:hover,
#container_map #container_form #choice_mode span#public_transport-logo.active{
  background:url('../images/sprite_mode.png') -49px bottom no-repeat;
}
#container_map #container_form #choice_mode span#bike-logo:hover,
#container_map #container_form #choice_mode span#bike-logo.active{
  background:url('../images/sprite_mode.png') -108px bottom no-repeat;
}
#container_map #container_form #choice_mode span#walker-logo:hover,
#container_map #container_form #choice_mode span#walker-logo.active{
  background:url('../images/sprite_mode.png') -166px bottom no-repeat;
}
#container_map #container_form label{
  color:#3c3c3c;
}

.button_action_group {
  margin-top: 30px;
  border-top: solid 1px #FFFFFF;
  padding-top: 30px;
}

.button_action_group a {
  margin-bottom: 10px;
}

.button_action_group a:last-child{
  margin-bottom: 0;
}

/* #print {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  width: 127px;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  background: url(../images/picto_print.png);
  cursor: pointer;
  margin: auto;
  text-align: left;
} */

#print {
  display: none;
}

#sub_print {
  font-size: 13px;
  font-weight: normal;
  background: #fff;
  border: solid 1px #a2443a;
  display: none;
  position: absolute;
  top: 39px;
  right: 0;
  color: #004070;
  text-transform: none;
  width: 130px;
  padding: 5px;
}

#switch span{
  position: absolute;
  left: 7px;
  bottom: 135px;
  color:#bdbdbd;
}

#switch span:hover{
  cursor:pointer;
}

#minimize_restore span{
  position: absolute;
  left: 12px;
  bottom: 32px;
  color:#bdbdbd;
}

#minimize_restore span:hover{
  cursor:pointer;
}

#form-restore span{
  display: none;
  color:#bdbdbd;
}

#form-restore span:hover{
  cursor:pointer;
}


#directions-panel{
  background:#fff;
  /*max-height:250px;*/
  /*max-height:250px;*/
  overflow: auto;
}


table.adp-placemark{
  border: 2px solid silver;
}

table.adp-placemark tr{
height: 60px;
line-height: 60px;
}

table.adp-placemark td{
  box-sizing: border-box;
  border:0px;
}

table.adp-placemark td:nth-child(1){
  width: 46px;
  line-height: 20px;
  /* height: 60px; */
}

table.adp-placemark td:nth-child(2){
  /*width: calc(100% - 46px);*/
  /* height: auto; */
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
}

table.adp-placemark td img.adp-marker {
  width: 22px;
  height: 40px;
  vertical-align: middle;
}


div.adp-summary{
  font-weight: bold;
  text-align: center;
}
table.adp-directions{
  border: 2px solid silver;
  width: 100%;
}
table.adp-directions tr td:nth-child(2){
  font-weight: bold;
}
table.adp-directions tr td:last-child{
  /* font-weight: bold;*/
}



div.adp-list{
  margin-top:20px;
  margin-bottom:28px;
  padding: 0;
  border: 3px solid silver;
}

div.adp-list table{
  margin:0;
}
div.adp-list table tbody tr:first-child,
div.adp-list .adp-listheader{
  border-bottom: 3px solid silver;
}
div.adp-list table tbody tr:first-child td,
div.adp-list .adp-listheader{
  padding: 10px 10px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
div.adp-list table tbody tr td.adp-listsel,
div.adp-list table tbody tr td.adp-listsel b,
div.adp-list ol li.adp-listsel{
  font-weight: bold;
  font-size: 14px;
}

div.adp-list ol li.adp-listsel{
  padding: 2px 20px;
}

div.adp-list ol{
  padding: 12px!important;
}
div.adp-list table tbody tr:nth-child(2) td,
div.adp-list ol{
  padding-top: 12px!important;
}
div.adp-list table tbody tr:last-child td,
div.adp-list ol{
  padding-bottom: 10px!important;
}
div.adp-list table tbody tr td,
div.adp-list .adp-listheader{
  text-align: center;
}
div.adp-warnbox{
  margin-top:-12px;
  margin-bottom:28px;
  text-align: center;
}

table.adp-directions{
  margin-top: 0;
  margin-bottom: -12px;
}

#directions-panel .adp div[data-leg-index="0"] table.adp-placemark{
  /* margin-bottom:-23px; */
  margin-bottom:-88px;
}

div.adp-summary{
  margin:0;
  padding-bottom: 0;
  /* margin-top:-20px;
  padding-left:56px; */
  margin-bottom: 65px;
  /* padding-left:56px; */
}

#overlay {
    display: none;/* Hidden by default */
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; /* top position */
    left: 0; /* left position */
    right: 0; /* right position */
    bottom: 0; /* bottom position */
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
    cursor: progress; /* For indicate to user the functionnalities is in progress */
}
#overlay.show-overlay {
    display: block!important;/* Force visible */
}

#map-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: loader 0.8s infinite ease;
  animation: loader 0.8s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #BEBEBE, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #BEBEBE, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #BEBEBE, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #BEBEBE, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #BEBEBE, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #BEBEBE, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #BEBEBE, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #BEBEBE;
  }
}
@keyframes loader {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #BEBEBE, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #BEBEBE, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #BEBEBE, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #BEBEBE, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #BEBEBE, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #BEBEBE, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #BEBEBE, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #BEBEBE;
  }
}
