<div class="panel">
  <h3 class="panel__title">{{ data.panelTitle }}</h3>
  <div class="panel__content">
    <ul class="admin-list">
      {% for listSetting in data.listSettings %}
        <li>
          <a href="{{ listSetting.link }}">
            <span class="label">{{ listSetting.title|e }}</span>
            <div class="description">{{ listSetting.description }}</div>
          </a>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
