
<div class="panel">
  <h3 class="panel__title">{{ data.panelTitle }}</h3>
  <div class="panel__content">
    <ul class="admin-list">
      <li>
        <a href="/admin/config/people/accounts">
          <span class="label">Api Key</span>
          <div class="description">Description Service Configurable.</div>
        </a>
      </li>
      <li>
        <a href="/admin/config/people/accounts">
          <span class="label">Api Key</span>
          <div class="description">Description Service Configurable.</div>
        </a>
      </li>
      <li>
        <a href="/admin/config/people/accounts">
          <span class="label">Api Key</span>
          <div class="description">Description Service Configurable.</div>
        </a>
      </li>
    </ul>
  </div>
</div>
